<button nz-button nzSize="small" (click)="resetAll()" class="main-reset">Reset</button>
<p>Total rows: {{row}}</p>
<nz-table #basicTable 
  [nzData]="listOfData" 
  [nzPageSize]="45" 
  [nzPaginationPosition]="'both'"
  [nzScroll]="{ y: '450px' }"
>
  <thead>
    <tr>
      <th  [(nzChecked)]="allChecked"  [nzSelections]="listOfSelection" [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="checkAll($event)">
       
      </th>
      <th *ngFor="let data of columns.column_list" 
      (click)="saveColumn($event)"
      [ngClass]="data.type"
      (nzFilterChange)="filterFn($event)"
      [nzFilters]="data.type == 'Boolean' ? listOfFilter : []"
      nzColumnKey={{data.col_name}} [nzCustomFilter]="data.type == 'String' ? 'true' : 'false'"
      >
      {{data.col_name}}
      <span nz-icon nzType="down" (click)="sortFn($event)">
         
      </span>
        <nz-filter-trigger  *ngIf="data.type === 'String'"  
        [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu"
        >
          <span class="search" nz-icon nzType="search" (click)="saveColumnSearch($event)"></span>
        </nz-filter-trigger></th>
    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td  [(nzChecked)]="data.checked"></td>
    <td>{{ data.id }}</td>
    <td>{{ data.task_name }}</td>
    <td>{{ data.task_created_date }}</td>
    <td>{{data.task_completed}}</td>
  </tr>
 </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu"  >
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #checkboxMenu="nzDropdownMenu"  >
  <ul nz-menu>
    <li nz-menu-item><button nz-button nzSize="small" (click)="checkAll">Select All Rows</button></li>
    <li nz-menu-item>Select Even rows</li>
    <li nz-menu-item>Select Odd rows</li>
    <li nz-menu-divider></li>
  </ul>
</nz-dropdown-menu>